@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  background-color: #efefef;
}

.wrapper {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body {
  color: #121212;
  max-width: 420px;
  border: solid 2px #121212;
  border-radius: 0.5em;
}

.title {
  background-color: #121212;
  color: #ffffff;
  position: relative;
  margin: 0 0 1em 0;
  padding: 0.75em;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
.title::before, .title::after {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  top: 50%;
}
.title::before {
  left: 5%;
  background: -webkit-gradient(linear, left top, right top, from(#121212), to(#ffffff));
  background: linear-gradient(to right, #121212, #ffffff);
}
.title::after {
  right: 5%;
  background: -webkit-gradient(linear, right top, left top, from(#121212), to(#ffffff));
  background: linear-gradient(to left, #121212, #ffffff);
}

.text {
  padding: 0 0.75em 1.5em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 125%;
  text-align: center;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em 1.5em;
}
.data label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin: 0px 0.5em 0px 0px;
}
.data input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
  height: 3em;
  padding: 0px 0px 0px 0.5em;
  font-size: 1em;
  border: solid 2px #efefef;
  border-radius: 5px;
}
.data input:focus {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em 0px 0px 0px;
}
.footer__link {
  color: #121212;
  margin: 0.5em 0 1.5em;
  font-size: 1.25em;
  text-decoration: underline;
}

.btn {
  background-color: #76b93f;
  color: #ffffff;
  width: 80%;
  height: 3em;
  margin: 0px 0px 1.5em 0px;
  font-size: 1.25em;
  font-weight: 500;
  border-radius: 0.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  border-radius: 1.5em;
}

.change-password__title::before, .change-password__title::after {
  width: 15%;
}

.sign-out__title::before, .sign-out__title::after {
  width: 25%;
}

.verify-mail__title::before, .verify-mail__title::after {
  display: none;
}

.password-reset__title::before, .password-reset__title::after {
  width: 15%;
}