{% load static %}
{% load custom %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/css/track_search.css' %}">
    <style type="text/css">
   TABLE {
    background: #dc0; /* Цвет фона таблицы */
    border: 5px double #000; /* Рамка вокруг таблицы */
   }
   TD, TH {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #fff; /* Рамка вокруг ячеек */
   }
  </style>
</head>

<body>

    <div class="header">
        <div class="header__body body">
            <div class="header__column">
                <a class="header__link" href="{% url 'track_search' %}">Search <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'track_search' %}">My track <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'account_change_password' %}">Change Password <i class="fa fa-unlock"></i></a>
            </div>
            <div class="header__logo">
                <a href="{% url 'main_page' %}">Getmoretraks.com</a>
            </div>
            <div class="header__column">
                <a class="header__link" href="{% url 'payment' %}">Buy a Plan <i class="fa fa-credit-card"></i></a>
                <a class="header__link header__link_none" href="">Track Balance: 11 <i class="fa fa-calculator"></i></a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="header__menu">
                <a class="header__link" href="{% url 'track_search' %}">Search <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'account_change_password' %}">Change Password <i class="fa fa-unlock"></i></a>
                <a class="header__link" href="{% url 'payment' %}">Buy a Plan <i class="fa fa-credit-card"></i></a>
                <a class="header__link header__link_none" href="">Track Balance: 11 <i class="fa fa-calculator"></i></a>
            </div>
        </div>
    </div>

    <div class="form">
        <div class="form__body">
            <form id="tracks" class="delivery-form" action="{% url 'track_search' %}" method="post">
                {% csrf_token %}
                <div class="delivery-form__item">
                    <div class="delivery-form__header">Shipped from, date</div>
                    <div class="delivery-form__body">
                        {{ form.shipped_from }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">Shipped to, date</div>
                    <div class="delivery-form__body">
                        {{ form.shipped_to }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">Sender's ZIP</div>
                    <div class="delivery-form__body">
                        {{ form.senders_zip }}
                    </div>
                </div>

                <p><button type="submit">Filter</button></p>

            </form>
        </div>
    </div>
    {% if tracks %}
            <table width="500">
                <tr>
                    <th>Copy</th>
                    <th>Tracking</th>
                    <th>Service</th>
                    <th>Label created</th>
                    <th>Shipped</th>
                    <th>Shipped from</th>
                    <th>Shipped zip</th>
                    <th>Status</th>
                </tr>
                {% for track in tracks %}
                    <form method="post" action="{% url 'track_search' %}">
                        {% csrf_token %}
                        <tr>
                            {% if track_id == track.tracking %}
                                <td>Copied!</td>
                                <td>{{ track.tracking }}</td>
                            {% else %}
                                <td><button onclick="copy_track('{{ track.tracking }}')">Copy!</button></td>
                                <input type="hidden" id="track_copy_{{ track.tracking }}" value="{{ track.tracking }}" name="track_id"/>
                                <td>{{ track.tracking|hidden_track }}</td>
                            {% endif %}
                            <td>{{ track.product }}</td>
                            <td>{{ track.created }}</td>
                            <td>{{ track.shipped }}</td>
                            <td>{{ track.shipped_from }}</td>
                            <td>{{ track.shipped_zip }}</td>
                            <td>{{ track.status }}</td>
                        </tr>
                        <input type="hidden" name="shipped_to" value="{{ shipped_to }}"/>
                        <input type="hidden" name="shipped_from" value="{{ shipped_from }}"/>
                        <input type="hidden" name="state" value="{{ state }}"/>
                        <input type="hidden" name="senders_zip" value="{{ senders_zip }}"/>
                    </form>
                {% endfor %}
            </table>
    {% else %}
        <p>We apologize, but not a single track was found for your request</p>
    {% endif %}

    <script>
        function copy_track(track) {
            navigator.clipboard.writeText(track).then(function () {
                console.log('Copying to clipboard was successful!');
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        }
</script>
</body>

</html>
