{% load static %}
{% load custom %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/css/track_search.css' %}">
</head>

<body>

    <div class="header">
        <div class="header__body body">
            <div class="header__column">
                <a class="header__link" href="{% url 'track_search' %}">Search <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'track_search' %}">My track <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'account_change_password' %}">Change Password <i
                        class="fa fa-unlock"></i></a>
            </div>
            <div class="header__logo">
                <a href="{% url 'main_page' %}">Getmoretraks.com</a>
            </div>
            <div class="header__column">
                <a class="header__link" href="{% url 'payment' %}">Buy a Plan <i class="fa fa-credit-card"></i></a>
                <a class="header__link header__link_none" href="">Track Balance: 11 <i class="fa fa-calculator"></i></a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
            <div class="header__menu">
                <a class="header__link" href="{% url 'track_search' %}">Search <i class="fa fa-search"></i></a>
                <a class="header__link" href="{% url 'account_change_password' %}">Change Password <i
                        class="fa fa-unlock"></i></a>
                <a class="header__link" href="{% url 'payment' %}">Buy a Plan <i class="fa fa-credit-card"></i></a>
                <a class="header__link header__link_none" href="">Track Balance: 11 <i class="fa fa-calculator"></i></a>
            </div>
        </div>
    </div>

    <div class="form">
        <div class="form__body">
            <form id="tracks" class="delivery-form" action="{% url 'track_search' %}" method="post">
                {% csrf_token %}
                <div class="delivery-form__item">
                    <div class="delivery-form__header">Shipped from, date</div>
                    <div class="delivery-form__body">
                        {{ form.shipped_from }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">Shipped to, date</div>
                    <div class="delivery-form__body">
                        {{ form.shipped_to }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>

                <div class="delivery-form__item">
                    <div class="delivery-form__header">Sender's ZIP</div>
                    <div class="delivery-form__body">
                        {{ form.senders_zip }}
                    </div>
                </div>

                <div class="delivery-form__item delivery-form__itemcenter">
                    <button class="search__btn btn" type="submit">Filter</button>
                </div>

                <div class="delivery-form__item">
                    <input class="more__filters-btn" type="checkbox">More Filters</input>
                </div>

                <div class="delivery-form__item hidden">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>

                <div class="delivery-form__item hidden">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>

                <div class="delivery-form__item hidden">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>

                <div class="delivery-form__item hidden">
                    <div class="delivery-form__header">State</div>
                    <div class="delivery-form__body">
                        {{ form.state }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if tracks %}
    <div class="table">
        <div class="table__header">
            <div class="table__header-item">Copy</div>
            <div class="table__header-item">Tracking</div>
            <div class="table__header-item">Service</div>
            <div class="table__header-item">Label created</div>
            <div class="table__header-item">Shipped</div>
            <div class="table__header-item">Shipped from</div>
            <div class="table__header-item">Shipped zip</div>
            <div class="table__header-item">Status</div>
        </div>

        {% for track in page_obj %}
        <form method="post" action="{% url 'track_search' %}">
            {% csrf_token %}
            <div class="table__row">
                {% if tracks_copied == track.tracking %}
                <div class="table__row-item">Copied!</div>
                <div class="table__row-item">{{ track.tracking }}</div>
                {% else %}
                <div class="table__row-item"><button class="table__btn btn"
                        onclick="copy_track('{{ track.tracking }}')">Copy!</button></div>
                <input type="hidden" id="track_copy_{{ track.tracking }}" value="{{ track.tracking }}"
                    name="tracks_copied" />
                <div class="table__row-item">{{ track.tracking|hidden_track }}</div>
                {% endif %}
                <div class="table__row-item">{{ track.product }}</div>
                <div class="table__row-item">{{ track.created }}</div>
                <div class="table__row-item">{{ track.shipped }}</div>
                <div class="table__row-item">{{ track.shipped_from }}</div>
                <div class="table__row-item">{{ track.shipped_zip }}</div>
                <div class="table__row-item">{{ track.status }}</div>
            </div>
            <input type="hidden" name="shipped_to" value="{{ shipped_to }}" />
            <input type="hidden" name="shipped_from" value="{{ shipped_from }}" />
            <input type="hidden" name="state" value="{{ state }}" />
            <input type="hidden" name="senders_zip" value="{{ senders_zip }}" />
            <input type="hidden" name="page" value="{{ page_obj.number }}">
        </form>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
    <nav>
        <ul>
            {% if page_obj.has_previous %}
            <li>
                <a
                    href="?page={{ page_obj.previous_page_number }}&shipped_from={{ shipped_from }}&shipped_to={{ shipped_to }}&state={{ state }}&senders_zip={{ senders_zip }}">Previous
                    page</a>
            </li>
            {% endif %}

            {% for page_number in paginator.page_range %}
            {% if page_number == page_obj.number %}
            <li>
                {{ page_number }}
            </li>
            {% elif page_number|add:2 >= page_obj.number and page_number|add:-2 <= page_obj.number %} <li>
                <a
                    href="?page={{ page_number }}&shipped_from={{ shipped_from }}&shipped_to={{ shipped_to }}&state={{ state }}&senders_zip={{ senders_zip }}">{{
                    page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li>
                    <a
                        href="?page={{ page_obj.next_page_number }}&shipped_from={{ shipped_from }}&shipped_to={{ shipped_to }}&state={{ state }}&senders_zip={{ senders_zip }}">Next
                        page</a>
                </li>
                {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% else %}
    <div class="apologize">We apologize, but not a single track was found for your request &#128532;</div>
    {% endif %}

    <script>
        function copy_track(track) {
            navigator.clipboard.writeText(track).then(function () {
                console.log('Copying to clipboard was successful!');
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
    <script>
        moreFilters = document.querySelector('.more__filters-btn');
        hiddenFilters = document.querySelectorAll('.hidden');

        moreFilters.addEventListener('click', () => {
            hiddenFilters.forEach(hiddenFilter => {
                hiddenFilter.classList.toggle('_active');
            });
        });
    </script>
</body>

</html>