{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="sign-out__title title">{% trans "Sign Out" %}</div>

<div class="sign-out__text text">{% trans 'Are you sure you want to sign out?' %}</div>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="sign-out__footer footer">
        <button class="footer__btn btn" type="submit">{% trans 'Sign Out' %}</button>
    </div>
</form>


{% endblock %}