{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="password-reset__title title">{% trans "Password Reset" %}</div>

<div class="password-reset__note note">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
</div>

<div class="password-reset__text text">
    {% blocktrans %}
    We have sent you an e-mail. If you have not received it please
    check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
    {% endblocktrans %}
</div>
<div class="menu__back"><a href="{% url 'main_page' %}">Go back to main page</a></div>
{% endblock %}