{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="change-password__title title">{% trans "Change Password" %}</div>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    
    {{form.non_field_errors}}
    {% for element_form in form %}
    <div class="change-password__data data">
        <label for="{{element_form.id_for_label}}">{{element_form.label}}</label>
        {{element_form}}
    </div>
    {% endfor %}

    <div class="change-password__footer footer">
        <button class="footer__btn btn" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="footer__link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password? Click here" %}</a>
    </div>

</form>
{% endblock %}