{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="change-password__title title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="change-password__text text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</div>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{form.non_field_errors}}
            {% for element_form in form %}
            <div class="schange-password__data data">
                <label for="{{element_form.id_for_label}}">{{element_form.label}}</label>
                {{element_form}}
            </div>
            {% endfor %}
            <div class="change-password__footer footer">
                <input class="change-password__btn btn" type="submit" name="action" value="{% trans 'change password' %}"/>
            </div>
        </form>
    {% endif %}
{% endblock %}
