{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup__title title">
    {% trans "Sign In" %}
</div>

<div class="signup__text text">{% blocktrans %}Already have an account? Then please
    <a href="{{ login_url }}">sign in</a>.
    {% endblocktrans %}
</div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{form.non_field_errors}}
    {% for element_form in form %}
    <div class="signup__data data">
        <label for="{{element_form.id_for_label}}">{{element_form.label}}</label>
        {{element_form}}
    </div>
    {% endfor %}
    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="signup__footer footer">
        <button class="footer__btn btn" type="submit">{% trans "Sign Up" %}</button>
    </div>
</form>

{% endblock %}